.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  height: 60px;
  align-items: center;
  font-size: 0.9rem;
  background: white;
  position: fixed;
  box-shadow: 0px 5px 5px #f7f8fa;
}
.nav-header .nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 55px;
}
.nav-header .nav-bar .nav-item {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-right: 30px;
}
.nav-header .nav-bar .nav-item .logo {
  margin-right: 3px;
}
.nav-header .nav-bar .nav-item .logo-title {
  display: block;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: x-large;
  color: #1875f0;
  margin-left: 30px;
}
.nav-header .nav-bar .nav-item img {
  margin-right: 3px;
}
.nav-header .nav-bar .nav-item.shield {
  background: #27ae60;
  height: 25px;
  width: 100px;
  border-radius: 5px;
  color: white;
}
.nav-header .nav-bar .nav-item.profile img {
  border-radius: 50%;
}
.nav-header .nav-bar .divider {
  margin-top: 9px;
  margin-right: 1rem;
  height: 20px;
  width: 1px;
  background: #888;
}

.sidebar {
  width: 330px;
  height: 200vh;
  align-items: center;
  padding-top: 50px;
  padding-left: 40px;
  background: white;
  color: #6e7f8e;
  font-size: smaller;
}
.sidebar .side-container {
  width: 100%;
  height: 55px;
}
.sidebar .side-container .side-items {
  width: 100%;
  margin-top: 30px;
}
.sidebar .side-container .side-items .side-button {
  border: none;
  border-radius: 25px;
  width: 180px;
  padding: 10px;
  background: #27ae60;
  color: white;
  font-size: small;
  font-weight: 600;
  margin-top: 10px;
}
.sidebar .side-container .side-items .side-item {
  display: flex;
  margin-top: 15px;
}
.sidebar .side-container .side-items .side-item .side-icon {
  margin-right: 5px;
  width: 25px;
  position: relative;
}
.sidebar .side-container .side-items .side-item .side-icon i {
  background-color: white;
  border-radius: 50%;
}
.sidebar .side-container .side-items .side-item .side-icon .fa-check-circle,
.sidebar .side-container .side-items .side-item .side-icon .fa-times-circle,
.sidebar .side-container .side-items .side-item .side-icon .fa-pause-circle {
  position: absolute;
  top: 12px;
  left: 6px;
}
.sidebar .side-container img {
  width: 18px;
  height: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  background: #f7f8fa;
  font-family: Arial, Helvetica, sans-serif;
  color: #4f4f4f;
}

.container {
  display: flex;
}
.container .inner-container {
  padding-top: 90px;
  padding-left: 30px;
  padding-right: 10px;
  width: 100%;
}
.container .inner-container .trans-container {
  display: flex;
  justify-content: space-between;
  font-size: smaller;
}
.container .inner-container .trans-container .left,
.container .inner-container .trans-container .right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 48%;
}
.container .inner-container .trans-container .left .transaction-card,
.container .inner-container .trans-container .right .transaction-card {
  background: white;
  padding: 15px;
  height: 70px;
}
.container .inner-container .trans-container .left .transaction-card h3,
.container .inner-container .trans-container .right .transaction-card h3 {
  padding-top: 3px;
}
.container .inner-container .overview {
  margin-top: 30px;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.container .inner-container .overview .chart-container {
  width: 65%;
}
.container .inner-container .overview .summary-container {
  width: 35%;
}
.container .inner-container .overview .summary-container .summary-card {
  margin-bottom: 5px;
  height: 100%;
}
.container .inner-container .overview .summary-container .summary-card .summary-item {
  padding: 5px;
  height: 50%;
  margin-top: 5px;
  background: white;
}
.container .inner-container .overview .summary-container .summary-card .summary-item .progress-container {
  background: #fdc203;
  width: 100%;
  height: 5px;
  border-radius: 3px;
}
.container .inner-container .overview .summary-container .summary-card .summary-item .progress-container .progress-bar {
  background: #27ae60;
  border-radius: 3px;
}

/*# sourceMappingURL=index.css.map */
