$sidebar-color: #052231;
$positive-color: #4dbd98;
$primary-color: #23b3e8;
$negative-color: #eb0e43;
$warning-color: #f15832;
$active-link: #f27556;
$grey-card: #2e4c5c;
$navy-card: #296799;
$pink-card: #f8426e;
$green-card: #4dbd98;
$purple-card: #3d43a2;
$orange-card: #f15832;
$background-color: #f7f7f7;
$hamburger-color: #162d39;
