@import "config";
@import "nav";
@import "sidenav";

* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	background: $background-color;
	font-family: Arial, Helvetica, sans-serif;
	color: $text-color;
}
.container {
	display: flex;
	.inner-container {
		padding-top: 90px;
		padding-left: 30px;
		padding-right: 10px;
		width: 100%;

		.trans-container {
			display: flex;
			justify-content: space-between;
			font-size: smaller;
			.left,
			.right {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 10px;
				width: 48%;

				.transaction-card {
					background: white;
					padding: 15px;
					height: 70px;
					h3 {
						padding-top: 3px;
					}
				}
			}
		}
		.overview {
			margin-top: 30px;
			width: 100%;
			height: 300px;
			display: flex;
			justify-content: space-between;
			.chart-container {
				width: 65%;
			}
			.summary-container {
				width: 35%;

				.summary-card {
					margin-bottom: 5px;
					font-size: 13px;
					height: 100%;

					.summary-item {
						padding: 15px;
						height: 50%;
						margin-bottom: 5px;
						background: white;

						.progress-container {
							background: $secondary-color;
							width: 100%;
							height: 5px;
							border-radius: 3px;
							.progress-bar {
								background: $positive-color;
								border-radius: 3px;
							}
						}
						p {
							margin-top: 10px;
						}
						.pending {
							color: $secondary-color;
							font-weight: 700;
						}
						.reconcilled {
							color: $positive-color;
							font-weight: 700;
						}
						.total {
							color: $primary-color;
							font-weight: 700;
						}
					}
				}
			}
		}
	}
}
