@import "config";
@import "nav";
@import "sidenav";

* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	background: $background-color;
	font-family: Arial, Helvetica, sans-serif;
}
.container {
	display: flex;
	.inner-container {
		padding-top: 100px;
		.trans-container {
			display: flex;
			justify-content: space-evenly;
			.transaction-card {
				background: white;
				border: solid black;
			}
		}
	}
}
